@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  background-image: radial-gradient(
    circle at 74.65% 74.65%,
    #b084ff 0,
    #876cff 25%,
    #5353f2 50%,
    #003cde 75%,
    #002bcc 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
}

/* ! Calculator dimensions */

.calculator {
  height: 65vh;
  max-height: 70vh;
  min-width: 40rem;
  max-width: 50rem;
}

/* ! Number display */
.display {
  width: 100%;
  min-height: 30%;
  max-height: min-content;
  word-break: break-all;
  padding-right: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  background-color: rgba(29, 27, 27, 0.151);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: rgb(255, 20, 147);
}

.previous-num {
  font-size: 2.8rem;
  font-weight: 300;
  color: rgb(227, 125, 179);

  margin-bottom: 1rem;
}

.current-num {
  font-size: 4.4rem;
}

.math-sign {
  color: red;
  font-size: 2.6rem;
  font-weight: bold;
  height: 50px;
}

.panel {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.2rem;
}

.panel button {
  /* padding: 2rem; */
  font-size: 2rem;
  color: rgb(255, 20, 147);
  background-color: rgba(0, 0, 0, 0.6);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.panel button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* ! Calculations history */
.calc-history {
  height: 65vh;
  margin-left: 2rem;

  background-color: rgba(29, 27, 27, 0.151);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: rgb(255, 20, 147);
}

.calc-history__title {
  text-align: center;
  /* width: 100%;s */
  padding: 1rem;

  display: flex;
  flex-direction: column;
  border-bottom: 2px solid rgb(255, 20, 147);
}

.calc-history__btn {
  align-self: center;
  background-color: rgba(29, 27, 27, 0.4);
  border: none;
  color: rgb(255, 20, 147);
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.calc-history__box {
  list-style: none;
}

.calc-history__li {
  margin: 8px 0px;
  letter-spacing: 1px;
  border-bottom: 1px solid rgba(29, 27, 27, 0.233);
  padding-bottom: 5px;
}
.equals {
  grid-column: 4 / 5;
  grid-row: 4 / 6;
}
