:root {
  // MAIN COLORS

  --clr-white: #ffffff;
  --clr-beige: #f9f6f0;
  --clr-light-grey: #c3cbd0;
  --clr-dark-grey: #595959;
  --clr-black: #000000;
  --clr-lazure: #75d6ff;

  // FONT

  --default-font-fam: 'Archivo', sans-serif;

  // FONT - weights

  --fw-thin: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  // FONT - size

  --default-font-size: 1.6rem;
  --h1-font-size: 2.8rem;
  --h2-font-size: 3.6rem;
  --h3-font-size: 2.6rem;
  --h4-font-size: 1.8rem;
}
